*{box-sizing: border-box;}
#item{
    width: 420px;
    margin: 0 auto;
}
#item #total{
    width: 200px;
    border: 1px solid #ccc;
    margin: auto; 
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
#up{
    width: 400px;
    position: relative;
    margin-top: 20px;
}
/* 임의로 사진모서리와 버튼모서리 둥글게 */
#pic{
    border-radius: 20px;
}
#show{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#down{
    width: 400px;
    display: none;
    position: relative;
}
/* 임의로 닫기 버튼 위치 변경 */
#hide{
    position: absolute;
    right: 10px
}
/* 임의로 버튼 커서모양 변경 */
button{
    background-color: rgba(238, 229, 229, 0.5);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
p{
    line-height: 1.5;
}